@CHARSET "EUC-KR";

#header { 
  background: lightgrey; 
  background: -webkit-linear-gradient(left top, black, lightgrey); 
  background: -o-linear-gradient(bottom right, black, lightgrey); 
  background: -moz-linear-gradient(bottom right, black, lightgrey); 
  background: linear-gradient(to bottom right, black, lightgrey); 
  
  margin:auto;
  margin-bottom:2px;
  moz-box-shadow:0px 0px 4px rgb(55,55,55);
  -webkit-box-shadow:0px 0px 4px rgb(55,55,55);
  }
  body {
   background-color: rgb(234,234,234);
  }
 #main{
  margin-top:80px;
  margin-left:120px;
  margin-right:120px;
 }
 .pages{
  border:1px solid #ddd;
  margin-top:12px;
  display:block;
  border:1px solid;
  height:450px;
 }
 .page{
  border:1px solid #ddd;
  height:380px;
  width:400px;
 }
 .title{
  border:1px solid #ddd;
  height:50px;
 }
 #guide{
  background-color: rgb(246,246,246);
  color: #483636;
  margin-top:200px;
  margin-left:120px;
  margin-right:120px;
  margin-bottom:200px;
 }

 ul li {
  list-style:none;
  font-size:14px;
  padding-right:90px;
 }
 
 p {
  border-left-color : red;
  border-left-style : solid;
  font-size:26px;
  font-weight: bold;
 }
 
 