@CHARSET "EUC-KR";

#header { 
  background: lightgrey; 
  background: -webkit-linear-gradient(left top, black, lightgrey); 
  background: -o-linear-gradient(bottom right, black, lightgrey); 
  background: -moz-linear-gradient(bottom right, black, lightgrey); 
  background: linear-gradient(to bottom right, black, lightgrey); 
  
  max-width:1280px;
  margin:auto;
  margin-bottom:2px;
  moz-box-shadow:0px 0px 4px rgb(55,55,55);
  -webkit-box-shadow:0px 0px 4px rgb(55,55,55);
  }
  body {
   background-color: rgb(234,234,234);
  }
 #main{
  margin-top:80px;
  margin-left:120px;
  margin-right:120px;
 }
 .pages{
  border:1px solid #ddd;
  margin-top:12px;
  display:block;
  border:1px solid;
  height:300px;
 }
 .title{
  border:1px solid #ddd;
  width:400px;
  height:57px;
 }
 .list{
  border:1px solid #ddd;
  height:57px;
 }
 
 #guide{
  background-color: rgb(246,246,246);
  color: #483636;
  margin-top:200px;
  margin-left:120px;
  margin-right:120px;
  margin-bottom:200px;
 }
 #guide ul li {
  list-style:none;
  font-size:14px;
  padding-right:90px;
 }
 #guide p {
  border-left-color : red;
  border-left-style : solid;
  font-size:26px;
  font-weight: bold;
 }
 #navi {
  margin-top: 15px;
  display: inline-block;
 }
 
 #navi a {
    border:1px solid #ddd;
    color: black;
    float: left;
    padding: 8px 16px;
    font-size: 14px;
    text-decoration: none;
    transition: background-color .3s;
 }
 #navi .now {
    border:1px solid #cccccc;
    color: black;
    float: left;
    padding: 8px 16px;
    font-size: 14px;
    text-decoration: none;
    transition: background-color .3s;
    background-color: #cccccc;
 }
 #navi a:hover:not(.active) { background-color: #cccccc;}
 
 .container {
    overflow: hidden;
    background-color: #4CAF50;
    font-family: Arial;
}

.container a {
    float: left;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.dropdown {
    float: left;
    overflow: hidden;
}

.dropdown .dropbtn {
    border: none;
    outline: none;
    color: white;
    padding: 20px 18px;
    font-size:16px;
    background-color: inherit;
}

.container a:hover, .dropdown:hover .dropbtn {
    background-color:  #3e8e41;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {
    background-color: #ddd;
}

.dropdown:hover .dropdown-content {
    display: block;
}