@CHARSET "EUC-KR";

#header { 
  background: lightgrey; 
  background: -webkit-linear-gradient(left top, black, lightgrey); 
  background: -o-linear-gradient(bottom right, black, lightgrey); 
  background: -moz-linear-gradient(bottom right, black, lightgrey); 
  background: linear-gradient(to bottom right, black, lightgrey); 
  
  margin:auto;
  margin-bottom:2px;
  moz-box-shadow:0px 0px 4px rgb(55,55,55);
  -webkit-box-shadow:0px 0px 4px rgb(55,55,55);
  }
  body {
   background-color: rgb(234,234,234);
  }
 #main{
  margin-top:80px;
  margin-left:120px;
  margin-right:120px;
 }
 .pages{
  border:1px solid #ddd;
  margin-top:12px;
  display:block;
  border:1px solid;
  height:450px;
 }
 .page{
  border:1px solid #ddd;
  height:380px;
  width:400px;
 }
 .title{
  border:1px solid #ddd;
  height:50px;
 }
 #guide{
  background-color: rgb(246,246,246);
  color: #483636;
  margin-top:200px;
  margin-left:120px;
  margin-right:120px;
  margin-bottom:200px;
 }
 #guide ul li {
  list-style:none;
  font-size:14px;
  padding-right:90px;
 }
 #guide p {
  border-left-color : red;
  border-left-style : solid;
  font-size:26px;
  font-weight: bold;
 }
 #navi {
  display: inline-block;
 }
 
 #navi a {
    border:1px solid #ddd;
    color: black;
    float: left;
    padding: 8px 16px;
    font-size: 14px;
    text-decoration: none;
    transition: background-color .3s;
 }
 #navi a.active {
    background-color: #4CAF50;
    color: white;
 }
 #navi a:hover:not(.active) { background-color: #ddd;}
 
 #menu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #4CAF50;
}
 #menu li {
    float: left;
}
 #menu a {
    disaply-style: none;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
 #menu li a:hover {
    background-color: #333;
}
 
